name: Reuse Docker Image

on:
  push:
 

jobs:
  reuse_image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker
        run: |
          docker pull sophgo/tpuc_dev:latest

  run_commands:
    runs-on: ubuntu-latest
    needs: reuse_image

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Docker Container
        run: |
          docker run --privileged --name github_actions_test -v $PWD:/workspace sophgo/tpuc_dev:latest
          # 在容器中执行其他命令

          
          cd tpu-mlir
          source ./envsetup.sh
          ./build.sh


          mkdir model_yolov5s && cd model_yolov5s
          cp ${REGRESSION_PATH}/model/yolov5s.onnx .
          cp -rf ${REGRESSION_PATH}/dataset/COCO2017 .
          cp -rf ${REGRESSION_PATH}/image .
          mkdir workspace && cd workspace

          model_transform.py \
            --model_name yolov5s \
            --model_def ../yolov5s.onnx \
            --input_shapes [[1,3,640,640]] \
            --mean 0.0,0.0,0.0 \
            --scale 0.0039216,0.0039216,0.0039216 \
            --keep_aspect_ratio \
            --pixel_format rgb \
            --output_names 350,498,646 \
            --test_input ../image/dog.jpg \
            --test_result yolov5s_top_outputs.npz \
            --mlir yolov5s.mlir

          




